@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
  font-family:  Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
   
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(img/tower.jpg) ;
    background-size:cover ;
    height: 10vh;
    background-blend-mode:darken ;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 1px 34px 34px rgba(0,0,0,0.5);
    z-index: 2;
}

.leftNav{
    width: 40%;
    display: flex;
    align-items: center;
}

#outer-logo{
  width: 40%;
  height: 85%; 
 
 margin-left: 17%;
}


#logo{
    background-image: url(img/logo1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100% ;
    margin-left: 17%;
    height:96%;
    border-radius: 50%;
    overflow: hidden;
}


.rightNav{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navItems{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.items a{
      list-style: none;
      color: rgb(251, 245, 245);
      cursor: pointer;
      text-decoration: none;
}

.items a:hover{
 font-size: 140%;
 color: rgb(132, 130, 130);
}

#bar{
    display: none;
}

#close{
  display: none;
}

.firstSec{
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(img/tower.jpg) ;
  background-position: center;
  background-size: cover;
  z-index: 1;
 height: 100vh;
}

.inputs{
  display: flex;
    justify-content: flex-end;
    padding-top: 5%;
    padding-right: 7%;
}

#search-bar{
    width: 16%;
    margin-right: 1%;
    font-size: 127%;
    border-radius: 10px;
    padding: 4px 4px;
    border: 2px solid goldenrod;
}

#button-sm{
    width: 8%;
    margin-right: 3%;
    font-size: 83%;
    color: white;
    border-radius: 10px;
    padding: 0px 0px;
    border: 2px solid white;
    background: transparent;
    cursor: pointer;

}

#button-sm:hover{
    width: 8%;
    margin-right: 3%;
    font-size: 83%;
    color: white;
    border-radius: 10px;
    padding: 0px 0px;
    border: 2px solid rgb(87, 63, 4);
    background: transparent;

}
#button-sm:active{
    width: 8%;
    margin-right: 3%;
    font-size: 83%;
    color: white;
    border-radius: 10px;
    padding: 0px 0px;
    border: 2px solid white;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(img/tower.jpg);

}
.main{
    width: 80%;
    margin: auto;
    margin-top: -1%;
    display: flex;
    color: white;
    padding: 7% 0%;
}
#button{
    margin-top: 3%;
    height: 22%;
}

.btn-main{
    font-size: 117%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 2% 2%;
    margin-right: 3%;
    cursor: pointer;
}
.btn-main:hover{
    font-size: 125%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 12px;
    padding: 2% 2%;
    margin-right: 3%;
}
.left{
     width: 65%;
}

#element{
font-size: 186%;
}

.left p{
    width: 80%;
    font-size: 103%;
    margin-top: 5%;
}

.right{
  width:35%;
}

.rightLogo{
   width: 66%;
}

.rightLogo img{
    width: 100%;
    border-radius: 50%;
    border: 6px solid white;
}

.second-sec{
   height: 180vh;
   display: flex ;
   flex-direction: column;
   justify-content: space-evenly;
}

.box{
border: 2px solid black;
display: flex;
height: 27%;
margin: 0% 7%;
border-radius: 69px;

}

.leftBox{
width: 80%;
}

.leftBox h1{
  width: 80%;
  margin-left: 20%;
  font-size: 227%;
  margin-top: 4%;
}

.leftBox p{
    width: 79%;
    margin-left: 13%;
    font-size: 71%;
    margin-top: 3%;
  
}

.right-img{
    width: 77%;
}

.right-img img{
  width: 100%;
}
.reverse{
  flex-direction: row-reverse;
}

.rightBox{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-sec{
       background-color: rgb(242 235 222);
       height: 80vh;
}

.third-sec h1{
  text-align: center;
  padding: 1% 0%;
}

.inputArea{
    display: flex;
    flex-direction: column;
}

.third-sec input{
    padding: 1% 2%;
    font-size: 110%;
    border-radius: 14px;
    margin: 0% 16%;
    margin-top: 1%;

}

.third-sec textarea{
    margin: 4% 17%;
    border-radius: 18px;
}

.submitBtn{
    font-size: 143%;
    padding: 1% 2%;
    border-radius: 11px;
    margin-left:17%;
    cursor: pointer;
}

.submitBtn:hover{
    font-size: 160%;
    padding: 1% 2%;
    border-radius: 11px;
    margin-left:17%;
    cursor: pointer;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(img/tower.jpg);
  text-align: center;
  color: white;
  font-size: 114%;
  height: 7vh;
  
}


@media(max-width:600px)
{

  body{
    width: 157vw;
  }
    .rightNav{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;

}
  #bar{
    display: inline-block;
    font-size: 190%;
    color: white;
    margin-right: 11%;
  }
  #close{
    display: block;
    font-size: 100%;
    margin-left: 11%;
  }

#closeIcon{
   display:block;
   text-align: start;
   width: 100%;
  font-size: 171%;
}
  .navItems{
    display: flex;
    flex-direction: column;
    width: 50vw;
    position: fixed;
    height: 48%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/building.jpg);
    background-size: cover;
    top: 0;
    right: -50vw;
    border-bottom-left-radius: 31px;
  }
  .slider{
    right:0;
    transition: 0.8s ease;
  }

  #search-bar{
    width: 39%;
}

#button-sm{
  width: 12%;
}

.left h1{
    font-size: 76%;
}

.left p{
   font-size: 84%;
}

.leftBox h1 {
    width: 80%;
    margin-left: 20%;
    font-size: 105%;
    margin-top: 19%;
}

.leftBox p{
   font-size: 89%;

}

.second-sec {
  height: 331vh;
}

.rightLogo{
    margin-top: 90%;
}

.main{
height: 75%;
}

#button{
margin-top: 13%;
}

footer{
  font-size: 80%;
}
}



@media(min-width:600px) and (max-width:1920px)
{

   .Second-sec{
    height: 387vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #outer-logo{
  width: 18%;
  height: 85%; 
 
 margin-left: 17%;
}


#logo{
    outline: 1px solid grey;
    background-image: url(img/logo1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100% ;
    margin-left: 17%;
    height:96%;
    border-radius: 50%;
    overflow: hidden;
}


}
